{% extends "layout.njk" %}


{%block content%}
        <div id="intro">
            <div class="intro-content">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteito.</p>
            </div>
            
            <div class="intro-img">
                <img src="/assets/chef.png" alt="Chef">
            </div>
        </div>

        <div class="content">
            <div class="wrapper">
                <h2>Mais Acessadas</h2>
            </div>
            
            <section class="cards">
                <div class="card" id="burger">
                    <div class="card__image-container" >
                        <img src="/assets/burger.png" alt="Triplo Bacon Hamburguer">
                    </div>
                    <div class="card__content">
                        <h3>Triplo Bacon Burguer</h3>
                    </div>
                    <div class="card__author">
                        <p>por Jorge Relato</p>
                    </div>
                </div>

                <div class="card" id="pizza">
                    <div class="card__image-container" >
                        <img src="/assets/pizza.png" alt="Pizza 4 estações">
                    </div>
                    <div class="card__content">
                        <h3>Pizza 4 estações</h3>
                    </div>
                    <div class="card__author">
                        <p>por Fabiana Melo</p>
                    </div>
                </div>

                <div class="card" id="espaguete">
                    <div class="card__image-container" >
                        <img src="/assets/espaguete.png" alt="Espaguete ao alho">
                    </div>
                    <div class="card__content">
                        <h3>Espaguete ao alho</h3>
                    </div>
                    <div class="card__author">
                        <p>por Júlia Kinoto</p>
                    </div>
                </div>

                <div class="card" id="lasanha">
                    <div class="card__image-container" >
                        <img src="/assets/lasanha.png" alt="Lasanha mac n’ cheese">
                    </div>
                    <div class="card__content">
                        <h3>Lasanha mac n’ cheese</h3>
                    </div>
                    <div class="card__author">
                        <p>por Juliano Vieira</p>
                    </div>
                </div>

                <div class="card" id="doce">
                    <div class="card__image-container" >
                        <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
                    </div>
                    <div class="card__content">
                        <h3>Docinhos pão-do-céu</h3>
                    </div>
                    <div class="card__author">
                        <p>por Ricardo Golvea</p>
                    </div>
                </div>

                <div class="card" id="asinhas">
                    <div class="card__image-container" >
                        <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                    </div>
                    <div class="card__content">
                        <h3>Asinhas de frango ao barbecue</h3>
                    </div>
                    <div class="card__author">
                        <p>por Vania Steroski</p>
                    </div>
                </div>
            </section>


        </div>

{% endblock %}        
   